
# Chave da API do Google Gemini (Obtenha em https://aistudio.google.com/)
# Configure esta variável no painel da Vercel (Settings > Environment Variables)
VITE_API_KEY=sua_chave_aqui

# Configurações do Firebase (Opcional - O sistema usa LocalStorage por padrão)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=meu-delivery-app.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=meu-delivery-app
VITE_FIREBASE_STORAGE_BUCKET=meu-delivery-app.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_measurementId=

# Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=
APP_URL=
